{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Notes</title>

    <link rel="stylesheet" href="{% static 'notes/style.css' %}">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  </head>
  <body>

    <div class="header">
      <div class="logo">

        <a href="{% url 'home' %}">
          Notes
        </a>
      </div>

      <div class="search_box">
        <form class="search_form" action="" method="GET">
          <input class="search_bar" type="search" name="q" value="{{ request.GET.q }}" placeholder="Search....">
          <button class="search_btn" type="submit" name="search_btn" value="">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </form>
      </div>

      <div class="new">
        <a href="{% url 'add' %}"><span class="glyphicon glyphicon-plus"></span> New</a>
      </div>

    </div>

    <div class="section">

    {% if messages %}
          {% for message in messages %}
          <div class="message_box">
            <div class="alert alert-info alert-dismissable" style="background: rgba(165, 215, 175, 0.69);
                                                                  border: 1px solid rgba(169, 205, 176, 1);
                                                                  border-radius: 5px;
                                                                  color: rgb(50, 107, 61);
                                                                  font-family: Montserrat;
                                                                  font-weight: bold;
                                                                  margin: 0px;" >
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">X</button>
              {{message.message}}
            </div>
          </div>
          {% endfor %}
    {% endif %}

      {% for note in notes %}
      <a href="{% url 'note_detail' note.id %}" class="content_link">
        <div class="content">

          <div class="content_title">
              <strong>{{ note.note_title }}</strong>
          </div>

          <div class="content_date">
            <strong>{{ note.pub_date }}</strong>
          </div>

          <div class="content_text">
            <p>{{ note.note_text|linebreaks }}</p>
          </div>

          <div class="content_btns">

            <a class="edit_delete" href="{% url 'edit' id=note.id %}">
              <button type="submit" class="edit_delete_btn">
                <span class="glyphicon glyphicon-edit"></span> Edit
              </button>
            </a>

            <a class="edit_delete" href="{% url 'delete' note.id %}">
              <button type="submit" class="edit_delete_btn">
                <span class="glyphicon glyphicon-trash"></span> Delete
              </button>
            </a>

          </div>

        </div>
      </a>

        {% empty %}
          <div class="not_found_message">
            NO RESULTS FOUND
          </div>
      {% endfor %}
    </div>
    <div class="footer">
      All rights reserved &copy
      <br>
      Made with &#10084; by Tushar. 2019
    </div>

  </body>
</html>
