@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Poppins');

body{
  margin: 0px;
  padding: 0px;
}
.header{
  width: 100%;
  height: 150px;
  background: rgb(50, 50, 50);
}
.logo{
  width: auto;
  height: auto;
  float: left;
}
.logo a{
  float: left;
  margin-left: 80px;
  margin-top: 40px;
  text-decoration: none;
  font-family: Poppins;
  font-size: 45px;
  color: rgb(255, 255, 255);
}
.logo a:hover{
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.new{
  width: auto;
  height: auto;
  float: right;
  margin-right: 80px;
  margin-top: 50px;
}
.new a{
  text-decoration: none;
  color: rgb(179, 179, 179);
  font-family: Montserrat;
  font-size: 25px;
  font-weight: bold;
  transition: 0.1s;
}
.new a:hover{
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.section{
  width: 100%;
  min-height: 450px;
  padding: 0px;
}

.heading {
  width: 100%;
  height: auto;
  margin-top: 30px;
  text-align: center;
}
.heading p {
  margin:0px;
  font-family: Montserrat;
  font-size: 40px;
}
.add_form {
  width: 50%;
  margin: 10px 25%;
}
.add_btn{
  width: 80%;
  height: 40px;
  border: none;
  margin: 0px 10%;
  color: white;
  font-family: Poppins;
  font-size: 20px;
  background: rgb(99, 99, 99);
  transition: 0.1s;
}
.add_btn:hover {
  background: rgb(40, 40, 40);
}

.add_form_textarea{
  width: calc(90% - 40px);
  height: 170px;
  margin: 10px 5%;
  font-size: 17px;
  font-family: Poppins;
  padding: 20px;
}
.add_form_title{
  width: calc(90% - 40px);
  height: 30px;
  margin: 10px 5%;
  font-size: 17px;
  font-family: Poppins;
  padding: 20px;
}

.footer{
  width: 100%;
  height: 100px;
  float: left;
  margin-top: 30px;
  background: rgb(50, 50, 50);
  font-size: 17px;
  font-family: Montserrat;
  color: rgb(255, 255, 255);
  text-align: center;
  line-height: 30px;
  padding-top: 40px;
}
