@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Poppins');

body{
  margin: 0px;
  padding: 0px;
}
.header{
  width: 100%;
  min-height: 150px;
  background: rgb(50, 50, 50);
}
.logo{
  width: auto;
  height: auto;
  float: left;
}
.logo a{
  float: left;
  margin-left: 80px;
  margin-top: 40px;
  text-decoration: none;
  font-family: Poppins;
  font-size: 45px;
  color: rgb(255, 255, 255);
}
.logo a:hover{
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.new{
  width: auto;
  height: auto;
  float: right;
  margin-right: 50px;
  margin-top: 52px;
}
.new a{
  text-decoration: none;
  color: rgb(179, 179, 179);
  font-family: Montserrat, sans-serif;
  font-size: 25px;
  font-weight: bold;
  transition: 0.1s;
}
.new a:hover{
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.search_box{
  width: auto;
  height: auto;
  float: right;
  margin-top: 50px;
  margin-right: 40px;
}
.search_bar{
  width: 200px;
  height: 40px;
  border: none;
  padding: 10px;
  float: left;
  border-radius: 15px 0px 0px 15px;
  font-family: Poppins, sans-serif;
  font-size: 15px
}
.search_btn{
  width: auto;
  height: 40px;
  border: none;
  border-radius: 0px 15px 15px 0px;
  text-align: center;
  padding: 5px 10px 0px 10px;
  font-size: 20px;
  float: left;
  font-family: Poppins, sans-serif;
}
.search_btn:hover{
  background: rgb(131, 129, 129);
  color: rgb(232, 232, 232);
}

.not_found_message{
  width: 100%;
  height: auto;
  padding: 10px 0px 10px 30px;
  margin: 10px 0px;
  background: rgba(255, 0, 0, 0.3);
  border: 1px solid rgba(255, 0, 0, 0.5);
  border-radius: 10px;
  font-size: 20px;
  font-family: Poppins, sans-serif;
}

.section{
  width: 90%;
  min-height: 450px;
  padding: 0px;
  margin: 10px 5%;
  float: left;
}

.message_box{
  padding: 0px;
  float: left;
  width: calc(94% - 20px);
  padding: 10px 0px;
  margin: 10px 2%;
}
.content_link{
  text-decoration: none;
  color: white;
}
.content{
  width: 350px;
  height: auto;
  margin: 20px 2%;
  padding: 0px 10px;
  float: left;
  border-radius: 5px;
  background: rgb(236, 236, 236);
}
.content:hover{
  background: rgb(222, 222, 222);
}
.content_title{
  width: 100%;
  height: 50px;
  padding: 10px;
  float: left;
  overflow: hidden;
  text-decoration: none;
}
.content_title{
  color: rgb(33, 33, 33);
  font-family: Poppins, sans-serif;
  font-size: 25px;
  text-decoration: none;
}

.content_date{
  width: 100%;
  height: 20px;
  padding-left: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  color: rgb(138, 138, 138);
  float: left;
  overflow: hidden;
}
.content_text{
  width: 100%;
  height: 190px;
  padding: 10px;
  padding-top: 0px;
  font-family: Poppins, sans-serif;
  color: rgb(6, 6, 6);
  font-size: 18px;
  float: left;
  overflow: hidden;
}
.content_btns{
  width: 100%;
  height: 60px;
  padding: 10px;
  float: left;
}

.edit_delete_btn {
  width: calc(50% - 15px);
  height: 40px;
  background: rgb(157, 155, 155);
  border: none;
  border-radius: 5px;
  float: left;
  margin: 5px;
  margin-top: 0px;
  color: rgb(255, 255, 255);
  transition: 0.1s;
  text-align: center;
  cursor: pointer;
  font-family: Poppins, sans-serif;
  font-size: 18px;
}
.edit_delete_btn p {
  cursor: pointer;
  margin-top: 7px;
}
.edit_delete_btn:hover {
  background: rgb(96, 96, 96);
}

.footer{
  width: 100%;
  height: 140px;
  float: left;
  margin-top: 30px;
  background: rgb(50, 50, 50);
  font-size: 17px;
  font-family: Montserrat, sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  line-height: 30px;
  padding-top: 40px;
}
